.App {
	text-align: center;
}

.header-custom {
	height: 75px;
	justify-content: left;
	display: inline-flex;
	padding-left: 0px;
	background-color: #001529;
	vertical-align: middle;
	align-items: center;
}

.App-logo {
	height: 40px;
	pointer-events: none;
}

.nav-logo-container {
	width: 200px;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.theme-dark {
	background-color: #282c34;
	color: white;
}

.box-vertical {
	flex-direction: column;
}

.box-horizontal {
	flex-direction: row;
	justify-content: space-between;
}
.card-row-container {
	display: flex;

	justify-content: space-between;
	align-items: stretch;
}

.card-row-small {
	min-width: 200px;
	width: fit-content;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.font-white {
	color: white;
}

.chart-large {
	width: 350px;
	height: 400px;
}

.chart-larger {
	min-width: 800px;
	height: 400px;
}

.full-width {
	width: 100% !important;
}

.fit-content {
	width: fit-content !important;
}

.height-max {
	height: 100%;
}

.flex1 {
	flex-grow: 1;
}
.noflex {
	flex-grow: 0;
}

.inline {
	justify-content: left;
	display: inline;
	flex-direction: row;
}

.subtext {
	text-indent: 25px !important;
}

.red {
	color: #ff4d4f !important;
}
.orange {
	color: #fa8c16 !important;
}
.yellow {
	color: #fadb14 !important;
}
.green {
	color: #52c41a !important;
}
.gray {
	color: #8c8c8c !important;
}
